<ion-view title="Profile" ng-controller="ProfileDashboardCtrl as vm">
  <ion-content padding="true">
    <div class="card">
      <div class="item item-divider">
        Account details
      </div>
      <div class="item item-thumbnail-left">
      <img ng-src="http://www.bubbalicious.co.uk/images/avatar-small.jpg"/>
      <p>Name: {{vm.currentUser.firstName}}</p>
      <p>Surname: {{vm.currentUser.lastName}}</p>
      <p>Email: {{vm.currentUser.email}}</p>
      <p>User ID: {{vm.currentUser.id}}</p>
      <!--<p>Created: {{currentUser.created | date:'medium'}}</p>-->
    </div>
    </div>
    <button class="button button-block button-energized icon ion-log-out" ng-click="vm.logout()">
      Logout
    </button>
  </ion-content>
</ion-view>
