<ion-view title="Dashboard"">
<ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

  <ion-tab title="Groups" icon="ion-arrow-graph-up-left" href="#/dashboard/groups">
    <ion-nav-view name="group-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add" icon="ion-android-create" href="#/dashboard/add">
    <ion-nav-view name="add-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon="ion-person" href="#/dashboard/profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

</ion-view>
