<ion-view title="Group"">
<ion-tabs class="tabs-striped tabs-top tabs-background-royal tabs-light">

  <ion-tab title="Tasks" icon="ion-arrow-graph-up-left" href="#/group/tasks">
    <ion-nav-view name="task-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add" icon="ion-information" href="#/group/addTask">
    <ion-nav-view name="addTask-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Lib" icon="ion-person" href="#/group/lib">
    <ion-nav-view name="lib-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Info" icon="ion-person" href="#/group/info">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

</ion-view>
